*{
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
}
html{
    scroll-behavior: smooth;
}
nav{
    padding: 20px;
    


}
li,ul,h1{
    display: inline;

}

ul{
    margin-left: 75%;
    margin-top: 0px;
}

li{
    color: gray;
    cursor: pointer;
}

li:hover{
    color: white;
}

.home{
    margin-top: 90px;
    margin-left: 30px;
}
.one{
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
}
p{
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
}

.img1{
    
    width: 320px;
    height: 450px;
    border-color:  white;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    padding: 7px;
    margin-left: 12px;
}
.para{
    margin-left: 110px;
    font-size: 35px;
    display: inline-block;
}

.para1{
    margin-left: 220px;
    font-size: 35px;
    display: inline-block;
}

.icon{
    height: 4%;
    width: 4%;
    display: inline-block;
    margin-left: 25px;
}
.p1{
    margin-left: 10px;
}

@media screen and (max-width: 600px){
    .img{
        width: 390px;
        height: 220px;
        margin-right: 100px;
        display: inline-block;
        margin-left: 0px;
    }


    h1{
        font-size: 60px;
    }

    .one{

        font-size: 60px;
    }
    li{
        display: none;

    }

    .img1{
        width: 220px;
        height: 350px;
        margin-left: 60px;
        display: inline-block;
        margin-bottom: 20px;
    }

}



